# Dependencies
node_modules

# Build
dist
dist-ssr

# Rust/Tauri
target
src-tauri/target

# Environment
.env
*.local

# Logs
logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
